{{>partial_header}}
package {{packageName}}_init

import (
{{#routers}}
	{{#mux}}
	"github.com/gorilla/mux"
	{{/mux}}
	{{#chi}}
	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
	{{/chi}}
{{/routers}}
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/{{artifactId}}/generated/api"

{{#openAPI}}{{#paths}}
{{#entrySet}}
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/{{artifactId}}/handlers{{key}}"
{{/entrySet}}
{{/paths}}{{/openAPI}}
)

func Routes() {{#routers}}{{#mux}}*mux.Router{{/mux}}{{#chi}}chi.Router{{/chi}}{{/routers}} {
{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{classFilename}}.New{{classname}}Service()
	{{classname}}Controller := New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
	router := {{packageName}}.NewRouter({{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})
	return router
}
