{{>partial_header}}
package {{packageName}}_init

import (
{{#routers}}
	"github.com/go-chi/chi/v5"
{{/routers}}
	"{{goModule}}/internal/{{serviceName}}/generated/api"
	"{{goModule}}/internal/{{serviceName}}/generated/core"

{{#openAPI}}{{#paths}}
{{#entrySet}}
	"{{goModule}}/internal/{{serviceName}}/handlers{{key}}"
{{/entrySet}}
{{/paths}}{{/openAPI}}
)

func Routes(ctx *core.MifyServiceContext, routerConfig openapi.RouterConfig) {{#routers}}chi.Router{{/routers}} {
{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{classFilename}}.New{{classname}}Service()
	{{classname}}Controller := {{packageName}}.New{{classname}}Controller(ctx, {{classname}}Service)
{{/apis}}{{/apiInfo}}
	router := {{packageName}}.NewRouter(ctx, routerConfig, {{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})
	return router
}
