generatorName: go-server
templateDir: /repo/.mify/assets/openapi/server-template/go
enableMinimalUpdate: true
globalProperties: {}
additionalProperties:
  router: chi
  addResponseHeaders: true
  enumClassPrefix: true
  featureCORS: true
  hideGenerationTimestamp: true
  packageName: openapi
  packageVersion: 1.0.0
  serverPort: 8080
  sourceFolder: api
files:
  ignore-list.txt:
    destinationFilename: .openapi-generator-ignore
  init/routes.mustache:
    destinationFilename: routes.go
    folder: api/init
  public/req_ctx_access.mustache:
    destinationFilename: req_ctx_access.go
    folder: public/req_ctx_access
  metrics.mustache:
    destinationFilename: metrics.go
    folder: api
  request_context.mustache:
    destinationFilename: request_context.go
    folder: api
  swaggerui.mustache:
    destinationFilename: swaggerui.go
    folder: api
  cors.mustache:
    destinationFilename: cors.go
    folder: api
  recoverer.mustache:
    destinationFilename: recoverer.go
    folder: api

releaseNote: Release note
httpUserAgent: User Agent

apiPackage: handlers
modelPackage: models

invokerPackage: unused
# packageName: api
apiNameSuffix: Api
modelNamePrefix: ""
modelNameSuffix: ""
artifactVersion: ARTIFACT_VERSION
library: ""

instantiationTypes: {}
typeMappings: {}
importMappings: {}
languageSpecificPrimitives: []
reservedWordMappings: {}
serverVariables: {}

verbose: false
skipOverwrite: false
removeOperationIdPrefix: false
skipOperationExample: false
logToStderr: false
validateSpec: true
enablePostProcessFile: false
strictSpecBehavior: true
generateAliasAsModel: false
templatingEngineName: mustache
# ignoreFileOverride: ""
