{{>partial_header}}
package {{packageName}}_init

import (
{{#routers}}
	"github.com/go-chi/chi/v5"
{{/routers}}
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/{{artifactId}}/generated/api"

{{#openAPI}}{{#paths}}
{{#entrySet}}
    "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/internal/{{artifactId}}/handlers{{key}}"
{{/entrySet}}
{{/paths}}{{/openAPI}}
)

func Routes() {{#routers}}chi.Router{{/routers}} {
{{#apiInfo}}{{#apis}}
	{{classname}}Service := {{classFilename}}.New{{classname}}Service()
	{{classname}}Controller := {{packageName}}.New{{classname}}Controller({{classname}}Service)
{{/apis}}{{/apiInfo}}
	router := {{packageName}}.NewRouter({{#apiInfo}}{{#apis}}{{classname}}Controller{{^-last}}, {{/-last}}{{/apis}}{{/apiInfo}})
	return router
}
